<!DOCTYPE html>
<html lang="en">
<head>
<link>
    <meta charset="UTF-8">
    <title>Website Python, Flask and Bootstrap</title>
    <link rel="stylesheet" href="././static/css/main.css">
</head>
<body>
    <h1>About Page</h1>
    <h5>Website Python, Flask and Bootstrap</h5>
    <ul id="menu">
        <li class="menu"><a href="/">Home</a></li>
        <li class="menu"><a href="/about">About</a></li>
        <li class="menu"><a href="/contact">Contact</a></li>
    </ul>

<!--Sobre la página-->
    <h3>About this page...</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
        eos explicabo facere fugit iure modi molestiae nostrum quidem tempora
        temporibus velit, veniam. Alias distinctio eius eveniet maiores nobis
        quae reiciendis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Culpa excepturi minima omnis. Doloribus et nihil provident quasi!
        Ad ea et fugit in laboriosam, laudantium mollitia, quasi sit tempora,
        voluptate voluptatum?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores
        atque autem eaque earum enim facere facilis illum magnam maiores,
        non obcaecati odio placeat possimus quam qui rem repellendus ut?</p>
<!--Fin Sobre la página-->
</body>
</html>